<div class="slide swiper-slide column centered {{ if index .Params `image` }}swiper-lazy{{ end }}" style="background-color: {{ .Get `bg` | default `inherit` }};color: {{ .Get `color` | default `inherit` }}" {{ if index .Params `image` }}data-background="{{ .Get `image` | safeCSS | absURL }}"{{ end }}>
  {{ if index .Params "title" }}
    <h2 class="slide__title">{{ .Get "title" | markdownify }}</h2>
  {{ end }}
  {{ if .Inner }}
    <p class="slide__text">{{ .Inner | markdownify }}</p>
  {{ end }}
</div>
