<div class="slide swiper-slide column centered{{ if isset .Params `image` }} swiper-lazy{{ end }} {{ .Get `class` }}" style="background-color: {{ .Get `bg` | default `inherit` | safeCSS }};color: {{ .Get `color` | default `inherit` | safeCSS }}" {{ if isset .Params `image` }}data-background="{{ .Get `image` | safeCSS | absURL }}"{{ end }} {{ with (.Get `id`) }}id="{{ . }}"{{ end }}>
  <div class="container">
    {{ if isset .Params "title" }}
      <h2 class="slide__title">{{ .Get "title" | markdownify }}</h2>
    {{ end }}
    {{ if .Inner }}
      <p class="slide__text">{{ .Inner | markdownify }}</p>
    {{ end }}
  </div>
</div>
