<div class="slider swiper-container" {{ if isset .Params `pagination` }}data-pagination{{ end }} {{ if isset .Params `navigation` }}data-navigation{{ end }} {{ if isset .Params `loop` }}data-loop{{ end }} {{ if index .Params `autoplay` }}data-autoplay="{{ .Get `autoplay` }}"{{ end }} {{ if index .Params `pc` }}data-pc="{{ .Get `pc` }}"{{ end }} {{ if index .Params `tablet` }}data-tablet="{{ .Get `tablet` }}"{{ end }} {{ if index .Params `mobile` }}data-mobile="{{ .Get `mobile` }}"{{ end }} {{ if index .Params `gap` }}data-gap="{{ .Get `gap` }}"{{ end }} {{ if index .Params `height` }}style="height: {{ .Get `height` }}vh;"{{ end }}>
  <div class="swiper-wrapper">
    {{ .Inner }}
  </div>
  {{ if isset .Params "pagination" }}
    <div class="swiper-pagination"></div>
  {{ end }}
  {{ if isset .Params "navigation" }}
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  {{ end }}
</div>
