{{ define "main" }}
<div class="bg-wild-sand px-4 py-16 md:p-16 text-mine-shaft">
  <div class="w-full md:w-2/3">
    <h2 class="text-4xl leading-none md:text-6xl font-bold">¿Qué es la Alianza para el Gobierno Abierto?</h2>
    <div class="mt-16 text-lg">
      <p>
        La Alianza para Gobierno Abierto (AGA), es una iniciativa multilateral voluntaria en la que participan más de 70
        países, creada el 20 de septiembre de 2011 a través de la Declaración sobre Gobierno Abierto, que busca mejorar
        el desempeño gubernamental, fomentar la participación efectiva y mejorar la capacidad de respuesta de los
        gobiernos hacia sus ciudadanos, mediante la implementación de estrategias en materia de transparencia, acceso a
        la información, participación ciudadana y uso de nuevas tecnologías, que logren generar cambios concretos y
        visibles.
      </p>
    </div>
  </div>
</div>
<!--Foto-->
<div class="bg-orange-peel px-4 py-16 md:p-16 text-white">
  <div class="w-full md:w-2/3 ml-auto">
    <h2 class="text-4xl leading-none md:text-6xl font-bold">¿Cómo inicia la participación de Colombia en AGA?</h2>
    <div class="mt-16 text-lg">
      <p>
        Desde la consolidación de la AGA, en septiembre de 2011, Colombia manifestó el interés de participar en esta
        iniciativa. En 2012 nuestro país presentó el primer Plan de Acción Nacional de Gobierno Abierto relacionado con
        los siguientes desafíos: mejora de los servicios públicos, aumento de la integridad pública y mejor gestión en
        la inversión pública. A partir del 2012, diferentes organizaciones sociales se han articulado a través del <a href="https://www.opengovpartnership.org/es/members/colombia/">Comité de Estado Abierto</a> (AGA Colombia) con el propósito de participar en el proceso de implementación y seguimiento a esta iniciativa.
      </p>
      <p class="mt-6">
        Participar en la Alianza para el Gobierno Abierto facilita el acercamiento entre el Gobierno Nacional y la
        sociedad civil, haciendo énfasis en garantizar un real respeto de los derechos fundamentales y niveles cada vez
        más altos de calidad de vida.
      </p>
    </div>
  </div>
</div>
<!---->
<div class="bg-wild-sand px-4 py-16 md:p-16 text-mine-shaft">
  <div class="w-full md:w-2/3">
    <h2 class="text-4xl leading-none md:text-6xl font-bold">¿Qué es el comité de Estado Abierto?</h2>
    <div class="mt-16 text-lg">
      <p>
        El Comité de Estado Abierto de Colombia es el foro multiactor del país, actualmente está conformado por: la Secretaría de Transparencia de la Presidencia de la República, el Ministerio de Tecnologías de la Información y las Comunicaciones, el Ministerio de Ambiente y Desarrollo Sostenible, el Ministerio de Hacienda, el Departamento Administrativo de la Función Pública, la Alcaldía de Cali, la Corporación Somos Más, la Fundación Corona y Datasketch. Se orienta a partir de las siguientes funciones y responsabilidades.
      </p>
    </div>
  </div>
</div>
<!-- Funciones -->
<div class="bg-wild-sand px-4 py-16 md:p-16 text-mine-shaft">
  <div class="w-full">
    <h2 class="text-4xl leading-none md:text-6xl font-bold">Nuestros miembros</h2>
    <div class="mt-16">
    </div>
  </div>
</div>
<!---->
<div class="bg-orange-peel px-4 py-16 md:p-16 text-white">
  <div class="w-full md:w-2/3">
    <h2 class="text-4xl leading-none md:text-6xl font-bold">¿Qué impacto ha tenido la participación de Colombia en la alianza para gobierno abierto?</h2>
    <div class="mt-16 text-lg">
      <p>Participar en la Alianza para Gobierno Abierto facilita el acercamiento entre el Gobierno Nacional y la Sociedad Civil, poniendo énfasis en garantizar un real respeto de los derechos fundamentales y niveles cada vez más altos de calidad de vida.</p>
      <p class="mt-6">En Colombia, tal como lo ha señalado la Comisión Nacional Ciudadana para la Lucha Contra la Corrupción, el país ha logrado avances positivos en materia de fortalecimiento de plataformas electrónicas de divulgación de información como el Portal del Estado Colombiano, un mayor desarrollo de Gobierno en Línea, la aprobación de la Ley 1712 sobre Transparencia y Acceso a la Información Pública y de la Política Integral de Lucha contra la Corrupción (CONPES 167), avances en el programa Colombia Compra Eficiente, la creación de la plataforma Mapa Regalías y el inicio del proceso de implementación de la Iniciativa de Transparencia en las Industrias Extractivas (EITI por sus siglas en inglés), la ratificación de la Política Pública Departamental de Gobierno Abierto de la Gobernación de Nariño.</p>
    </div>
  </div>
</div>
{{ end }}