<footer class="text-white">
  <div class="bg-mine-shaft text-center p-4">
    <p>Cómite de la <strong>Alianza para el Gobierno Abierto</strong> en Colombia</p>
  </div>
  <div class="bg-white p-4 flex items-center flex-wrap justify-center md:justify-between">
    <div class="w-56 mb-4 lg:mb-0">
      <img src='{{ "images/org/logo_gc.webp" | absURL }}'>
    </div>
    <div class="w-40 mb-4 lg:mb-0">
      <img src='{{ "images/org/logo_ac.webp" | absURL }}'>
    </div>
    <div class="w-40 mb-4 lg:mb-0">
      <img src='{{ "images/org/logo_sm.webp" | absURL }}'>
    </div>
    <div class="w-40 mb-4 lg:mb-0">
      <img src='{{ "images/org/logo_fc.webp" | absURL }}'>
    </div>
    <div class="w-40 mb-4 lg:mb-0">
      <img src='{{ "images/org/logo_ds.webp" | absURL }}'>
    </div>
  </div>
  <div class="bg-mine-shaft">
    <div class="w-full mx-auto lg:w-5/6 p-4">
      <div class="flex flex-col md:flex-row md:items-center md:justify-between md:-mx-4">
        <div class="w-full px-4 flex-shrink-0 md:w-1/3 lg:w-1/4">
          <img class="w-48 mx-auto" src='{{ "images/logos/logo_negro.webp" | absURL }}' alt="Logo Alianza para el Gobierno Abierto">
        </div>
        <div class="w-full px-4 md:w-1/3 lg:w-1/4">
          <p class="font-bold text-2xl">Comparte</p>
          <div class="flex items-center mt-4">
            <a href="" target="_blank" class="mr-4">
              <img src='{{ "images/icons/twitter.svg" | absURL }}' alt="Twitter AGA">
            </a>
            <a href="" target="_blank" class="mr-4">
              <img src='{{ "images/icons/email.svg" | absURL }}' alt="Correo electrónico AGA">
            </a>
            <a href="" target="_blank">
              <img src='{{ "images/icons/facebook.svg" | absURL }}' alt="Facebook AGA">
            </a>
          </div>
          <p class="font-bold text-2xl mt-8">Escríbenos</p>
          <p>transparencia@aga.com</p>
        </div>
        <div class="w-full px-4 mt-10 md:w-1/3 md:mt-0 lg:w-1/4">
          <img src='{{ "images/icons/cc.svg" | absURL }}' class="h-8">
          <p class="text-sm mt-2 md:text-xs">Todo el material en esta página, cuando no se indique lo contrario, es
            CC-BY-SA. Si reúsas o adaptas recursos de esta página por favor vincúlalos y referéncialos.</p>
          <a href="" class="font-bold underline mt-4 inline-block">Términos y condiciones</a>
        </div>
      </div>
    </div>
  </div>
</footer>