{{ define "main" }}
{{ range first 1 (where .Site.Pages "Section" "planes-de-accion")}}
<a href="{{.Permalink}}" style="background-color: {{.Params.color}};" class="block text-white flex flex-col justify-center items-center text-center px-16 py-20 font-bold text-3xl">
  <p>Conoce el</p>
  <p class="bg-white px-4 py-2" style="color: {{.Params.color}}">
    {{ .Title }}
  </p>
</a>
{{ end }}
<!-- Blog -->
<div class="bg-wild-sand px-4 py-16 md:p-16 text-mine-shaft">
  <div class="font-bold flex flex-col items-start md:flex-row md:items-baseline md:justify-between">
    <h2 class="text-4xl leading-none md:text-5xl lg:text-6xl">Lo último</h2>
    <a href='{{.Site.BaseURL}}/blog' class="inline-block bg-mine-shaft text-white px-6 py-2 leading-none mt-4 text-sm md:mt-0 md:text-base">Ver todo</a>
  </div>
  <div class="w-full mx-auto mt-16 md:w-11/12">
    {{ $IsHome := .IsHome }}
    {{ range first 2 (where .Site.RegularPages "Section" "blog") }}
      {{ partial "post-brief.html" (dict "Page" . "IsHome" $IsHome) }}
    {{ end }}
  </div>
</div>
<!-- Actas del Comité -->
<div class="bg-wild-sand px-4 py-16 md:p-16 text-mine-shaft">
  <div class="font-bold flex flex-col items-start md:flex-row md:items-baseline md:justify-between">
    <h2 class="text-mine-shaft text-4xl leading-none md:text-5xl lg:text-6xl">Actas del Comité</h2>
    <a href="https://drive.google.com/drive/folders/1YCf0eQyqMpG2ZPpV9Tr4VdH1NCmAl249" class="inline-block bg-mine-shaft text-white px-6 py-2 leading-none mt-4 text-sm md:mt-0 md:text-base" target="_blank">Ver todo</a>
  </div>
  <div class="w-full mt-16 mx-auto md:w-11/12 text-lg">
    <p>Conoce las actas de las reuniones del Comité de Estado Abierto y las decisiones tomadas en ellas.</p>
  </div>
</div>
<!-- ¿Qué es estado abierto? -->
<div class="bg-orange-peel px-4 py-16 md:p-16 text-white">
  <h2 class="text-4xl leading-none md:text-5xl lg:text-6xl font-bold">¿Qué es Estado Abierto?</h2>
  <div class="w-full mx-auto mt-16 md:w-11/12">
    <p class="max-w-lg text-lg">Una cultura de lo público más dialogante con mayor equilibrio entre el poder y la ciudadanía, basada en la transparencia, el acceso a la información, la participación ciudadana la rendición de cuentas y la innovación y la tecnología.</p>
  </div>
</div>
<!-- ¿Qué es AGA? -->
<div class="bg-wild-sand px-4 py-16 md:p-16 text-mine-shaft">
  <div class="font-bold flex flex-col items-start md:flex-row md:items-baseline md:justify-between">
    <h2 class="text-mine-shaft text-4xl leading-none md:text-5xl lg:text-6xl">¿Qué es AGA?</h2>
    <a href="{{ relref . "acerca-del-comite" }}" class="inline-block bg-mine-shaft text-white px-6 py-2 leading-none mt-4 text-sm md:mt-0 md:text-base">Ver todo</a>
  </div>
  <div class="w-full mt-16 mx-auto md:w-11/12 text-lg">
    <p>La Alianza para el Gobierno Abierto (AGA/OGP por sus siglas en inglés) es una iniciativa multilateral que busca mejorar el desempeño gubernamental, fomentar la participación efectiva y mejorar la capacidad de respuesta de los gobiernos hacia sus ciudadanos mediante la implementación de estrategias en materia de transparencia, acceso a la información, participación ciudadana, innovación y uso de nuevas tecnologías que logren generar cambios concretos y visibles.</p>
    <p class="mt-6">Colombia hace parte de AGA desde el 2012 cuando presentó el primer Plan de Acción Nacional de Gobierno Abierto, desde entonces diferentes organizaciones sociales se han articulado a través del Comité de Estado Abierto con el propósito de participar en el proceso de implementación y seguimiento a esta iniciativa.</p>
  </div>
</div>
{{ end }}
