{{ define "main" }}
<div class="bg-wild-sand px-4 py-16 md:p-16 text-mine-shaft">
  <div class="w-full md:w-2/3">
    <h2 class="text-4xl leading-none md:text-5xl lg:text-6xl font-bold">¿Qué es la Alianza para el Gobierno Abierto?</h2>
    <div class="mt-16 text-lg">
      <p>
        La Alianza para Gobierno Abierto (AGA), es una iniciativa multilateral voluntaria en la que participan más de 70
        países, creada el 20 de septiembre de 2011 a través de la Declaración sobre Gobierno Abierto, que busca mejorar
        el desempeño gubernamental, fomentar la participación efectiva y mejorar la capacidad de respuesta de los
        gobiernos hacia sus ciudadanos, mediante la implementación de estrategias en materia de transparencia, acceso a
        la información, participación ciudadana y uso de nuevas tecnologías, que logren generar cambios concretos y
        visibles.
      </p>
    </div>
  </div>
</div>
<!---->
<div class="relative w-full h-0" style="padding-bottom: 33.33%;">
  <img src='{{ "images/about_page.webp" | absURL }}' class="absolute top-0 left-0 w-full h-full object-cover object-center">
</div>
<!---->
<div class="bg-orange-peel px-4 py-16 md:p-16 text-white">
  <div class="w-full md:w-2/3 ml-auto">
    <h2 class="text-4xl leading-none md:text-5xl lg:text-6xl font-bold">¿Cómo inicia la participación de Colombia en AGA?</h2>
    <div class="mt-16 text-lg">
      <p>
        Desde la consolidación de la AGA, en septiembre de 2011, Colombia manifestó el interés de participar en esta
        iniciativa. En 2012 nuestro país presentó el primer Plan de Acción Nacional de Gobierno Abierto relacionado con
        los siguientes desafíos: mejora de los servicios públicos, aumento de la integridad pública y mejor gestión en
        la inversión pública. A partir del 2012, diferentes organizaciones sociales se han articulado a través del <a href="https://www.opengovpartnership.org/es/members/colombia/">Comité de Estado Abierto</a> (AGA Colombia) con el propósito de participar en el proceso de implementación y seguimiento a esta iniciativa.
      </p>
      <p class="mt-6">
        Participar en la Alianza para el Gobierno Abierto facilita el acercamiento entre el Gobierno Nacional y la
        sociedad civil, haciendo énfasis en garantizar un real respeto de los derechos fundamentales y niveles cada vez
        más altos de calidad de vida.
      </p>
    </div>
  </div>
</div>
<!---->
<div class="bg-wild-sand px-4 py-16 md:p-16 text-mine-shaft">
  <div class="w-full md:w-2/3">
    <h2 class="text-4xl leading-none md:text-5xl lg:text-6xl font-bold">¿Qué es el comité de Estado Abierto?</h2>
    <div class="mt-16 text-lg">
      <p>
        El Comité de Estado Abierto de Colombia es el foro multiactor del país en el marco de la Alianza para el Gobierno Abierto, iniciativa multilateral integrada por más de 70 países del mundo comprometidos con los principios de la transparencia, la rendición de cuentas, la participación ciudadana, la tecnología y la innovación.
      </p>
      <p class="mt-6">
        Este foro surge con la finalidad de articular y aunar esfuerzos entre entidades públicas del nivel nacional y territorial con organizaciones de la sociedad civil, para definir la estrategia de co-creación, implementación, seguimiento, divulgación y evaluación de los planes de acción nacionales de Gobierno/Estado Abierto de Colombia. A la fecha, el Comité de Estado Abierto de Colombia cuenta con representantes de cinco (5) entidades públicas del nivel nacional, una (1) entidad pública del nivel subnacional y cuatro (4) organizaciones de la sociedad civil.
      </p>
    </div>
  </div>
</div>
<!---->
<div class="flex flex-col text-white md:flex-row">
  <div class="w-full bg-surfie-green px-4 py-16 md:w-1/2 md:p-16">
    <h3 class="font-bold text-3xl leading-tight lg:text-5xl">Funciones</h3>
    <ul class="mt-16 pl-4 list-disc text-lg">
      <li>
        Desarrollar e implementar la metodología para el diseño, seguimiento e implementación
        de los Planes de Acción Nacionales de Estado Abierto de Colombia.
      </li>
      <li class="mt-6">
        Desarrollar su propio proceso de planeación y ajustes a la estructura interna del foro.
      </li>
      <li class="mt-6">
        Articular las propuestas de compromisos que cumplan con los requisitos actuales o
        futuros establecidos por la AGA. De acuerdo con las reglas vigentes al momento de
        adoptarse este Reglamento, los compromisos deben ser específicos, medibles,
        relevantes y oportunamente comunicado a las múltiples partes interesadas.
      </li>
      <li class="mt-6">
        Promover la participación activa de la sociedad civil, academia, sector privado y otros
        actores interesados en el diseño, seguimiento e implementación de la agenda de Estado
        Abierto bajo principios establecidos por la OGP.
      </li>
      <li class="mt-6">
        Conformar e implementar los grupos de apoyo que se requieran.
      </li>
      <li class="mt-6">
        Definir propuestas para la sostenibilidad financiera e institucional del proceso, las cuales
        serán objeto de desarrollo del IV Plan de acción del Comité.
      </li>
      <li class="mt-6">
        Reportar periódicamente a un público más amplio los avances en el Plan de Acción que
        serán compartidos por herramientas como redes sociales y subidas a páginas web de
        AGA Colombia, donde pueden obtener un mayor alcance de visualización.
      </li>
    </ul>
    <a href="https://drive.google.com/file/d/11RrvB1pB6JBLRogr1-XitmYCZa989mdR/view" class="inline-block bg-white text-blue-stone px-6 py-2 leading-none text-sm mt-6 md:text-base" target="_blank">
      Lee el reglamento completo
    </a>
  </div>
  <div class="w-full bg-rage-orange px-4 py-16 md:w-1/2 md:p-16">
    <h3 class="font-bold text-3xl leading-tight lg:text-5xl">Responsabilidades</h3>
    <ul class="mt-16 pl-4 list-disc text-lg">
      <li>
        Cumplir con las funciones asignadas dentro del Comité.
      </li>
      <li class="mt-6">
        Participar activamente en todas las sesiones programadas, presenciales o virtuales.
      </li>
      <li class="mt-6">
        Participar en la autoevaluación que se llevará a cabo anualmente y en la construcción de los documentos oficiales
      </li>
      <li class="mt-6">
        Permanencia de 2 años en el Comité.
      </li>
      <li class="mt-6">
        Otras que puedan surgir
      </li>
    </ul>
  </div>
</div>
<!---->
<div class="bg-wild-sand px-4 py-16 md:p-16 text-mine-shaft">
  <div class="w-full">
    <h2 class="text-4xl leading-none md:text-5xl lg:text-6xl font-bold">Nuestros miembros</h2>
    <div class="mt-16 flex flex-col">
      <div class="flex items-center justify-center flex-wrap md:-mx-6">
        <div class="px-6 w-full mb-10 md:mb-0 md:w-1/5">
          <img src='{{ "images/org/logo_gc.webp" | absURL }}' alt="">
        </div>
        <div class="px-6 w-full mb-10 md:mb-0 md:w-1/5">
          <img src='{{ "images/org/logo_mt.webp" | absURL }}' alt="">
        </div>
        <div class="px-6 w-full mb-10 md:mb-0 md:w-1/5">
          <img src='{{ "images/org/logo_ma.webp" | absURL }}' alt="">
        </div>
        <div class="px-6 w-full mb-10 md:mb-0 md:w-1/5">
          <img src='{{ "images/org/logo_mh.webp" | absURL }}' alt="">
        </div>
        <div class="px-6 w-full mb-10 md:mb-0 md:w-1/5">
          <img src='{{ "images/org/logo_fp.webp" | absURL }}' alt="">
        </div>
      </div>
      <div class="flex items-center justify-center flex-wrap mt-0 md:mt-8 md:-mx-6">
        <div class="px-6 w-full mb-10 md:mb-0 md:w-1/5">
          <img src='{{ "images/org/logo_ac.webp" | absURL }}' alt="">
        </div>
        <div class="px-6 w-full mb-10 md:mb-0 md:w-1/5">
          <img src='{{ "images/org/logo_sm.webp" | absURL }}' alt="">
        </div>
        <div class="px-6 w-full mb-10 md:mb-0 md:w-1/5">
          <img src='{{ "images/org/logo_fc.webp" | absURL }}' alt="">
        </div>
        <div class="px-6 w-full mb-10 md:mb-0 md:w-1/5">
          <img src='{{ "images/org/logo_ds.webp" | absURL }}' alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!---->
<div class="bg-orange-peel px-4 py-16 md:p-16 text-white">
  <div class="w-full md:w-2/3">
    <h2 class="text-4xl leading-none md:text-5xl lg:text-6xl font-bold">¿Qué impacto ha tenido la participación de Colombia en la alianza para gobierno abierto?</h2>
    <div class="mt-16 text-lg">
      <p>Participar en la Alianza para Gobierno Abierto facilita el acercamiento entre el Gobierno Nacional y la Sociedad Civil, poniendo énfasis en garantizar un real respeto de los derechos fundamentales y niveles cada vez más altos de calidad de vida.</p>
      <p class="mt-6">En Colombia, tal como lo ha señalado la Comisión Nacional Ciudadana para la Lucha Contra la Corrupción, el país ha logrado avances positivos en materia de fortalecimiento de plataformas electrónicas de divulgación de información como el Portal del Estado Colombiano, un mayor desarrollo de Gobierno en Línea, la aprobación de la Ley 1712 sobre Transparencia y Acceso a la Información Pública y de la Política Integral de Lucha contra la Corrupción (CONPES 167), avances en el programa Colombia Compra Eficiente, la creación de la plataforma Mapa Regalías y el inicio del proceso de implementación de la Iniciativa de Transparencia en las Industrias Extractivas (EITI por sus siglas en inglés), la ratificación de la Política Pública Departamental de Gobierno Abierto de la Gobernación de Nariño.</p>
    </div>
    <ul class="mt-16 pl-4 list-disc text-lg">
      <li>
        <p>
          <b>Co- creación y cierre de Planes de acción de Estado Abierto:</b>
           En la co-creación de nuestro IV Plan de Acción logramos concentrar:
        </p>
        <ul class="list-disc list-inside mt-4">
            <li>
              880 personas participaron de la primera consulta ciudadana realizada a través de Urna de Cristal para la priorización temática del IV Plan de Acción Nacional de Estado Abierto.
            </li>
            <li class="mt-3">
              149 personas participaron en los 15 talleres de co-creación realizados por mesas temáticas.
            </li>
            <li class="mt-3">
              31 expertos participaron en las conversaciones de alto nivel técnico que se llevaron a cabo.
            </li>
            <li class="mt-3">
              8 propuestas de compromisos se recibieron del nivel nacional y 18 propuestas del nivel subnacional de las cuales se seleccionaron 7.
            </li>
            <li class="mt-3">
              600 personas participaron en la segunda consulta ciudadana realizada a través de Urna de Cristal para la retroalimentación de los compromisos a incluir en el IV Plan de Acción.
            </li>
        </ul>
      </li>
      <li class="mt-6">
       <p>
        <b>Formulación del CONPES 4070 de 2021:</b> Los miembros del Comité de Estado Abierto participaron de todas las mesas nacionales realizadas en Bogotá, en el marco del proceso de formulación del CONPES 4070 de 2021 de Lineamientos para la implementación de un modelo de Estado Abierto en Colombia.
       </p>
       <p class="mt-3">
        Asimismo, se realizaron el 3 de noviembre de 2021 y el 10 de diciembre de 2021 dos sesiones para la socialización y revisión del CONPES, donde también asistió como invitado el Departamento Nacional de Planeación.
       </p>
      </li>
      <li class="mt-6">
        <b>Participación en la socialización de la Ley 2195 de 2022:</b> La Secretaría de Transparencia invitó y convocó a todos los miembros del Comité de Estado Abierto a una sesión de socialización del entonces Proyecto de Ley 341 de 2020 que desembocó en la Ley 2195 de 2022, con el fin de recibir la retroalimentación y sugerencias de la sociedad civil en especial. Esta sesión tuvo lugar el 26 de noviembre de 2020.
      </li>
      <li class="mt-6">
       <p>
          <b>Renovación del Comité de Estado Abierto de Colombia:</b> Entre mayo y agosto de 2021, con base en la metodología definida por el Comité de Estado Abierto, se llevó a cabo la renovación del 80% de los integrantes de este foro. El proceso de renovación fue abierto, participativo e innovador.
       </p>
       <ul class="list-disc list-inside mt-6">
          <li>
            En este marco, los principales hitos o pasos que contempló la renovación fueron: Convocatoria pública para recibir postulaciones de sociedad civil y entidades públicas. Las postulaciones recibidas fueron:
            <img class="mt-6" src="/images/renovacion-del-comite-de-estado-abierto-de-colombia.png" alt="">
          </li>
          <li class="mt-6">
            Consulta ciudadana para la retroalimentación y priorización de las postulaciones recibidas a través de Urna de Cristal. Los principales resultados de la consulta fueron: 713 ciudadanos que votaron y/o retroalimentaron, 149 comentarios recibidos.
          </li>
       </ul>
      </li>
      <li class="mt-6">
        <b>Elaboración y aprobación del primer Reglamento Interno del Comité de Estado Abierto:</b> Por primera vez, el Comité de Estado Abierto elabora y aprueba un documento que contiene el Reglamento interno del mismo. En este, se describen las funciones, características, naturaleza, procesos y procedimientos que le dan forma al funcionamiento del foro.
      </li>
    </ul>
  </div>
</div>
{{ end }}