{{ define "main" }}
  {{ .Content }}
  <div class="container">
    {{ range where .Pages "Section" "posts" }}
      <div class="post-list-item">
        <div class="post-list-item__image">
        </div>
        <div class="post-list-item__info">
          <h1 class="post-list-item__title">{{ .Title }}</h1>
          <small class="post-list-item__date">{{ .Date }}</small>
          <p class="post-list-item__summary">{{ .Description | truncate 300 }}</p>
          <a class="post-list-item__button" href="{{ .URL }}" style="background-color: {{ .Params.highlight | default `inherit` | safeCSS }};color: {{ .Params.color | default `inherit` | safeCSS }}">Leer más</a>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
