{{ $color := .Site.Params.footer.color }}
{{ $bg := .Site.Params.footer.bg }}
<footer style="background: {{ $bg | safeCSS }}; color: {{ $color | safeCSS }}">
  <div class="footer__inner text-center">
    {{ markdownify .Site.Params.footer.text }}
    <div style="display: flex; align-items: center; flex-wrap: wrap; justify-content: center">
      <div style="max-width: 224px;">
        <img src='{{ "images/sectransparencia.png" | absURL }}' alt="">
      </div>
      <div style="max-width: 224px;">
        <img src='{{ "images/mintic.png" | absURL }}' alt="">
      </div>
      <div style="max-width: 224px;">
        <img src='{{ "images/minambiente.png" | absURL }}' alt="">
      </div>
      <div style="max-width: 224px;">
        <img src='{{ "images/minhacienda.png" | absURL }}' alt="">
      </div>
      <div style="max-width: 224px;">
        <img src='{{ "images/funcionpublica.png" | absURL }}' alt="">
      </div>
      <div style="max-width: 224px;">
        <img src='{{ "images/cali.png" | absURL }}' alt="">
      </div>
      <div style="max-width: 224px;">
        <img src='{{ "images/somosmas.png" | absURL }}' alt="">
      </div>
      <div style="max-width: 224px;">
        <img src='{{ "images/fundacioncorona.svg" | absURL }}' alt="">
      </div>
      <div style="max-width: 224px;">
        <img src='{{ "images/datasketch.svg" | absURL }}' alt="">
      </div>
    </div>
  </div>
</footer>
